.item{
    margin-top: 20px;
    margin-left: 40px;
    background-color: rgb(192, 210, 204);
    padding: 10px;
    border-radius: 10px;
    color: rgb(26, 23, 18);
}
.item h3,h4{
    margin-bottom: 0;
    margin-top: 0;
    margin-top: 5px;
}
.flexy{
    display: flex;
}
.flex{
    margin-left: 10px;

}
.btn-view{
    background-color: rgb(62, 156, 175);
    color: white;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
}