.anchor a{
    margin-right: 15px;
    color: rgb(219, 46, 52);
    text-decoration: none;
}

.btn-start{
    background-color: rgb(62, 156, 175);
    color: white;
    padding: 10px;
    border: 0;
    border-radius: 5px;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    align-items: center;
}